body
{
	font-family: arial, sans-serif;
	color: #222;
	width: 100%;

}

a
{
	text-decoration: none;
	color:#222;
}

.container{
	display: flex;
	justify-content: space-between;
	width: fit-content;
	position: absolute;
	right: 0;
	top:0;
	align-items: center;


}

.container > div{
	padding: 20px;
	font-size: 13px
}


.carre{
	opacity: 0.55;
	height: 30px;
}

.carre img{
	height: 30px;
}

.signin
{	
	
	background-color: #4285f4;
	outline: none;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea)
	line-height: 20px;
	border: none;
	padding: 2px 10px !important;
	margin: 10px;

}

.signin a
{

	color:white;
	font-size: 13px;
}

.gg
{
	margin-top: 80px;
	text-align: center;	
}


#searchbar
{
	flex:1;
	display:flex;
	padding: 20px 8px 0 16px;
	padding-left: 14px;
	margin: 25px auto;
	border:1px solid grey;
	border-radius: 25%;
}

.searchbar
{
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	color: rgba(0,0,0,0.87);
	outline: none;
	display: flex;
	flex:100%; -webkit-tap-highlight-color:transparent;
	height: 34px;
	font: 16px arial,sans-serif;
}

.loupe
{ 
	display: flex;
	align-items: center;
	padding-right: 13px;
	margin-top:  -5px;
}

	












